body{
	 background-image:url(https://www.fastweb.com/uploads/article_photo/photo/2161/crop380w_istock_000002193842xsmall-books.jpg);
	 background-repeat:no-repeat;
	 background-size:cover;
	 width:100%;
	 height:100vh;
	 overflow:auto;	 
}

.heading{
	 text-decoration:bold;
	 text-align : center;
	 font-size:30px;
	 color:#F96;
	 padding-top:10px;
}

.btn.btn-warning:hover {
    box-shadow: 2px 1px 2px 3px #99ccff;
	background:#5900a6;
	color:#fff;
	transition: background-color 1.15s ease-in-out,border-color 1.15s ease-in-out,box-shadow 1.15s ease-in-out;	
}
.header{
	text-decoration:bold;
	 text-align : center;
	 font-size:50px;
	 color:	#FFA07A;
	 padding-top:10px;
	 font-family:Times New Roman Georgia;
	 padding-right:20%;
	 
}	 

.menu{
	text-decoration:bold;
	 float:right;
	 font-size:50px;
	 color:#F96;
	 padding-top:10px;
	 font-family:Times New Roman Georgia; 
}

.nav{
	text-decoration:bold;
	 font-size:20px;
	 color:#ffff;
	 padding-top:15px;
	 font-family:Times New Roman Georgia;
}
.footer{
    bottom: 0;
	position:fixed;
	left:0;
	width:100%;
	text-align:center;
	
}
.copyright {
  min-height: 40px;
  background-color: #696969;
    bottom: 0;
	position:fixed;
	left:0;
	width:100%;
	text-align:center;
}

.copyright p {
  text-align: center;
  color: white;
  padding: 10px 0;
  margin-bottom: 0px;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: 2;
    cursor: pointer;
}

#text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
.make-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
#inneroverlay{
	height:400px;
	width:600px;
	z-index:3;
	background:rgb(0,0,0,0.9);
	margin-left:30%;
	margin-top:1in;
	border-radius: 25px;
}

#contactus{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

	  